
<ul class="nav navbar-nav navbar-nav-dt hidden-xs hidden-sm" data-sm-skip="true">
  <li class="dropdown dropdown-cat-dt">
    <a href="#" class="dropdown-toggle dropdown-toggle-cat-dt" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bars" aria-hidden="true"></i> Каталог <span class="hidden-md">товаров</span></a>
    <ul class="dropdown-menu dropdown-menu-cat-dt">
      <li></li>
      

      <li class="subnav">
        <a href="/eco-bytovaya-himiya/"><span>ECO Бытовая химия</span></a>
        <div class="menu-cat-second">
          <div class="row">
            
            
            
            
            
            
          </div>
        </div>
        </li>
       

      <li class="subnav">
        <a href="/podarochnye-nabory/"><span>ПОДАРОЧНЫЕ наборы</span></a>
        <div class="menu-cat-second">
          <div class="row">
            
            
            
            
            
            
          </div>
        </div>
        </li>
       

      <li class="subnav">
        <a href="/fitokompleksy/"><span>Фитокомплексы</span></a>
        <div class="menu-cat-second">
          <div class="row">
            
            
            
            
            
            
          </div>
        </div>
        </li>
       

      <li class="subnav">
        <a href="/uhod-za-telom/"><span>Уход за телом</span></a>
        <div class="menu-cat-second">
          <div class="row">
            
            
            
            
            
            
          </div>
        </div>
        </li>
       

      <li class="subnav">
        <a href="/uhod-za-volosami/"><span>Уход за волосами</span></a>
        <div class="menu-cat-second">
          <div class="row">
            
            
            
            
            
            
          </div>
        </div>
        </li>
       

      <li class="subnav">
        <a href="/uhod-za-licom/"><span>Уход за лицом</span></a>
        <div class="menu-cat-second">
          <div class="row">
            
            
            
            
            
            
          </div>
        </div>
        </li>
       

      <li class="subnav">
        <a href="/zdorovoe-pitanie/"><span>Здоровое питание</span></a>
        <div class="menu-cat-second">
          <div class="row">
            
            
            
            
            
            
          </div>
        </div>
        </li>
       

      <li class="subnav">
        <a href="/detskaya-seriya/"><span>Детская серия</span></a>
        <div class="menu-cat-second">
          <div class="row">
            
            
            
            
            
            
          </div>
        </div>
        </li>
       
    </ul>
    <div class="catalog-menu-backdrop"></div>
  </li>
</ul>
