<html>

	<head>
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	</head>
	<body>

		<form action="/trest/">
		<textarea name="form" id="" cols="150" rows="25"></textarea>
		<button class="submit-form">Отправить</button>
		</form>

		<textarea class="results"></textarea>
	</body>

	<script>
		$(document).ready(function(){
			$('.submit-form').click(function(e){
				e.preventDefault();
				$.post('/submitcontact/', $('form').serialize(), function(success){
					$('.results').val(success);
				});
			});
		});
	</script>

</html>
