{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}


<div class="container main-container headerOffset">
    <div class="row">
        <div class="breadcrumbDiv col-lg-12">
            <ul class="breadcrumb">
                <li><a href="/">Скидки и акции</a></li>
                <li><a href="/profile/">Мой профиль</a></li>
                <li class="active">Изменить пароль</li>
            </ul>
        </div>
    </div>
    <div class="morePost row featuredPostContainer style2 globalPaddingTop ">
        <h2 class="section-title style2 text-center"><span>Изменить пароль</span></h2>

        <div class="container">
            <div class="row xsResponse">
			    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
			        {% csrf_token %}
			        {{ form.as_p }}
			        <button type="submit" name="action">{% trans "Change Password" %}</button>
			    </form>
            </div>
            <!-- /.row -->
        </div>
        <!--/.container-->
    </div>
    <!--/.featuredPostContainer-->
</div>
{% endblock %}
