<div class="product-grid">
        <div><div class="image"><a href="http://20k.com.ua/index.php?route=product/product&amp;path=24&amp;product_id=90"><img src="http://20k.com.ua/image/cache/data/nokia-112-white-150x150.jpg" title=" Мобильный телефон Nokia 112 (White)" alt=" Мобильный телефон Nokia 112 (White)"></a></div><div class="name"><a href="http://20k.com.ua/index.php?route=product/product&amp;path=24&amp;product_id=90"> Мобильный телефон Nokia 112 (White)</a></div><div class="description">
    Экран 1.8" (128х160, 65 тыс цветов) / моноблок / камера 0.3 МП / Bluetooth / поддержка microSD / поддержка 2-х СИМ-карт / разъем 3.5 мм / FM-радио / 110 x 46 x 14.8 мм, 80 г
..</div><div class="price">
                590.00грн.                        <br>
        <span class="price-tax">Без НДС: 590.00грн.</span>
              </div><div class="cart">
        <input type="button" value="Купить" onclick="addToCart('90');" class="button">
      </div><div class="wishlist"><a onclick="addToWishList('90');">В закладки</a></div><div class="compare"><a onclick="addToCompare('90');">В сравнение</a></div></div>
        <div><div class="image"><a href="http://20k.com.ua/index.php?route=product/product&amp;path=24&amp;product_id=1037"><img src="http://20k.com.ua/image/cache/data/CUBOT/lenovo-a298-mobile-td-scdma-gsm-fashion-appearance-thin-handle-4-0-inch-screen-high-frequency.jpg_350x350-150x150.jpg" title="Lenovo IdeaPhone A298 Black" alt="Lenovo IdeaPhone A298 Black"></a></div><div class="name"><a href="http://20k.com.ua/index.php?route=product/product&amp;path=24&amp;product_id=1037">Lenovo IdeaPhone A298 Black</a></div><div class="description">
    Экран 4" (480x800) / моноблок / MTK6575 (1 ГГц ) / камера основная: 3,2 Мп / Bluetooth 2.0 / Wi-Fi 802.11 b/g/n / RAM 512 МБ / 512 МБ встроенной памяти + microSD / 3G / GPS / разъем 3.5 мм&nbsp;
..</div><div class="price">
                0.00грн.                        <br>
        <span class="price-tax">Без НДС: 0.00грн.</span>
              </div><div class="cart">
        <input type="button" value="Купить" onclick="addToCart('1037');" class="button">
      </div><div class="wishlist"><a onclick="addToWishList('1037');">В закладки</a></div><div class="compare"><a onclick="addToCompare('1037');">В сравнение</a></div></div>
        <div><div class="image"><a href="http://20k.com.ua/index.php?route=product/product&amp;path=24&amp;product_id=1038"><img src="http://20k.com.ua/image/cache/data/CUBOT/1236456311111-150x150.jpg" title="Lenovo IdeaPhone A369i (Black)" alt="Lenovo IdeaPhone A369i (Black)"></a></div><div class="name"><a href="http://20k.com.ua/index.php?route=product/product&amp;path=24&amp;product_id=1038">Lenovo IdeaPhone A369i (Black)</a></div><div class="description">
    Мобильный телефон Lenovo A369 black поддерживает работу двух SIM-карт в режиме Dual Stand-by (обе карты активны, однако если по одной SIM-карте идет разговор, то вторая будет недоступна. Однако если одна карта используется, например, для выхода в ..</div><div class="price">
                0.00грн.                        <br>
        <span class="price-tax">Без НДС: 0.00грн.</span>
              </div><div class="cart">
        <input type="button" value="Купить" onclick="addToCart('1038');" class="button">
      </div><div class="wishlist"><a onclick="addToWishList('1038');">В закладки</a></div><div class="compare"><a onclick="addToCompare('1038');">В сравнение</a></div></div>
        <div><div class="image"><a href="http://20k.com.ua/index.php?route=product/product&amp;path=24&amp;product_id=1008"><img src="http://20k.com.ua/image/cache/data/CUBOT/10534255-150x150.jpg" title="Lenovo IdeaPhone A590 White" alt="Lenovo IdeaPhone A590 White"></a></div><div class="name"><a href="http://20k.com.ua/index.php?route=product/product&amp;path=24&amp;product_id=1008">Lenovo IdeaPhone A590 White</a></div><div class="description">
    Lenovo IdeaPhone A590 - представитель наиболее функциональных смартфонов на 2 sim карты на сегодняшний день - смартфон с технологией Capacitive Multitouch (ёмкостной сенсор), работающий на платформе Android 4,1, оснащенный 5-дюймовым TFT-дисплеем ..</div><div class="price">
                0.00грн.                        <br>
        <span class="price-tax">Без НДС: 0.00грн.</span>
              </div><div class="cart">
        <input type="button" value="Купить" onclick="addToCart('1008');" class="button">
      </div><div class="wishlist"><a onclick="addToWishList('1008');">В закладки</a></div><div class="compare"><a onclick="addToCompare('1008');">В сравнение</a></div></div>
        <div><div class="image"><a href="http://20k.com.ua/index.php?route=product/product&amp;path=24&amp;product_id=1029"><img src="http://20k.com.ua/image/cache/data/CUBOT/554_small-150x150.jpg" title="Lenovo IdeaPhone A680 (Black)" alt="Lenovo IdeaPhone A680 (Black)"></a></div><div class="name"><a href="http://20k.com.ua/index.php?route=product/product&amp;path=24&amp;product_id=1029">Lenovo IdeaPhone A680 (Black)</a></div><div class="description">
    Экран 5.0" (854 x 480 сенсорный, емкостный) 16 млн. цветов / моноблок / процессор MTK6582, четыре ядра Cortex A7 по 1.3GHz / задняя камера 5.0МР / Bluetooth 2.0 / WI-FI 802.11 b/g/n / GPS-навигатор / ОЗУ 512 МБ, ПЗУ 4 ГБ / поддержка microSD карт д..</div><div class="price">
                1295.00грн.                        <br>
        <span class="price-tax">Без НДС: 1295.00грн.</span>
              </div><div class="cart">
        <input type="button" value="Купить" onclick="addToCart('1029');" class="button">
      </div><div class="wishlist"><a onclick="addToWishList('1029');">В закладки</a></div><div class="compare"><a onclick="addToCompare('1029');">В сравнение</a></div></div>
        <div><div class="image"><a href="http://20k.com.ua/index.php?route=product/product&amp;path=24&amp;product_id=1272"><img src="http://20k.com.ua/image/cache/data/ASUS/34365105-150x150.jpg" title="Lenovo IdeaPhone A680 (White)" alt="Lenovo IdeaPhone A680 (White)"></a></div><div class="name"><a href="http://20k.com.ua/index.php?route=product/product&amp;path=24&amp;product_id=1272">Lenovo IdeaPhone A680 (White)</a></div><div class="description">
    Экран 5.0" (854 x 480 сенсорный, емкостный) 16 млн. цветов / моноблок / процессор MTK6582, четыре ядра Cortex A7 по 1.3GHz / задняя камера 5.0МР / Bluetooth 2.0 / WI-FI 802.11 b/g/n / GPS-навигатор / ОЗУ 512 МБ, ПЗУ 4 ГБ / поддержка microSD карт д..</div><div class="price">
                1360.00грн.                        <br>
        <span class="price-tax">Без НДС: 1360.00грн.</span>
              </div><div class="cart">
        <input type="button" value="Купить" onclick="addToCart('1272');" class="button">
      </div><div class="wishlist"><a onclick="addToWishList('1272');">В закладки</a></div><div class="compare"><a onclick="addToCompare('1272');">В сравнение</a></div></div>
        <div><div class="image"><a href="http://20k.com.ua/index.php?route=product/product&amp;path=24&amp;product_id=992"><img src="http://20k.com.ua/image/cache/data/CUBOT/default-150x150.jpeg" title="Lenovo IdeaPhone S939 (Black)" alt="Lenovo IdeaPhone S939 (Black)"></a></div><div class="name"><a href="http://20k.com.ua/index.php?route=product/product&amp;path=24&amp;product_id=992">Lenovo IdeaPhone S939 (Black)</a></div><div class="description">
    Мобильный телефон Lenovo S939 заслуживает скорее названия фаблет, нежели даже смартфон. Ведь его шестидюймовый дисплей однозначно переносит его в совершенно другую категорию устройств. Конечно, это еще не полноценный планшет, но уже и не простой с..</div><div class="price">
                0.00грн.                        <br>
        <span class="price-tax">Без НДС: 0.00грн.</span>
              </div><div class="cart">
        <input type="button" value="Купить" onclick="addToCart('992');" class="button">
      </div><div class="wishlist"><a onclick="addToWishList('992');">В закладки</a></div><div class="compare"><a onclick="addToCompare('992');">В сравнение</a></div></div>
        <div><div class="image"><a href="http://20k.com.ua/index.php?route=product/product&amp;path=24&amp;product_id=502"><img src="http://20k.com.ua/image/cache/data/China brend/q2-150x150.jpg" title="Q-Fox Q2" alt="Q-Fox Q2"></a></div><div class="name"><a href="http://20k.com.ua/index.php?route=product/product&amp;path=24&amp;product_id=502">Q-Fox Q2</a></div><div class="description">
    Данная модель имеет сенсорный экран 2,4 дюйма, камера 1,3 Mpx и многое другое. Отличный и громкий динамик, а корпус из дорогого пластика.
..</div><div class="price">
                208.00грн.                        <br>
        <span class="price-tax">Без НДС: 208.00грн.</span>
              </div><div class="cart">
        <input type="button" value="Купить" onclick="addToCart('502');" class="button">
      </div><div class="wishlist"><a onclick="addToWishList('502');">В закладки</a></div><div class="compare"><a onclick="addToCompare('502');">В сравнение</a></div></div>
        <div><div class="image"><a href="http://20k.com.ua/index.php?route=product/product&amp;path=24&amp;product_id=503"><img src="http://20k.com.ua/image/cache/data/China brend/q3-150x150.jpg" title="Q-Fox Q3" alt="Q-Fox Q3"></a></div><div class="name"><a href="http://20k.com.ua/index.php?route=product/product&amp;path=24&amp;product_id=503">Q-Fox Q3</a></div><div class="description">
    Данная модель имеет сенсорный экран 2,4 дюйма, камера 1,3 Mpx и многое другое. Отличный и громкий динамик, а корпус из дорогого пластика.
..</div><div class="price">
                208.00грн.                        <br>
        <span class="price-tax">Без НДС: 208.00грн.</span>
              </div><div class="cart">
        <input type="button" value="Купить" onclick="addToCart('503');" class="button">
      </div><div class="wishlist"><a onclick="addToWishList('503');">В закладки</a></div><div class="compare"><a onclick="addToCompare('503');">В сравнение</a></div></div>
        <div><div class="image"><a href="http://20k.com.ua/index.php?route=product/product&amp;path=24&amp;product_id=636"><img src="http://20k.com.ua/image/cache/data/123456-150x150.jpg" title="Samsung C3322 (Scarlet Red La Fleur)" alt="Samsung C3322 (Scarlet Red La Fleur)"></a></div><div class="name"><a href="http://20k.com.ua/index.php?route=product/product&amp;path=24&amp;product_id=636">Samsung C3322 (Scarlet Red La Fleur)</a></div><div class="description">
    Samsung C3322 Scarlet Red La Fleur – стильный и функциональный мобильный телефон, выполненный в форм-факторе моноблока. В числе главных достоинств данной модели, прежде всего, числятся поддержка работы двух SIM-карт и наиболее популярных аудио- и ..</div><div class="price">
                629.00грн.                        <br>
        <span class="price-tax">Без НДС: 629.00грн.</span>
              </div><div class="cart">
        <input type="button" value="Купить" onclick="addToCart('636');" class="button">
      </div><div class="wishlist"><a onclick="addToWishList('636');">В закладки</a></div><div class="compare"><a onclick="addToCompare('636');">В сравнение</a></div></div>
        <div><div class="image"><a href="http://20k.com.ua/index.php?route=product/product&amp;path=24&amp;product_id=133"><img src="http://20k.com.ua/image/cache/data/tovargid_23911-150x150.jpg" title="Samsung C3782 Onyx Black" alt="Samsung C3782 Onyx Black"></a></div><div class="name"><a href="http://20k.com.ua/index.php?route=product/product&amp;path=24&amp;product_id=133">Samsung C3782 Onyx Black</a></div><div class="description">
    &nbsp;

    Экран 2.4" (240 x 320) / моноблок / камера 3 Мп / Bluetooth 2.1 / 32 МБ + поддержка microSD / FM-радио / разъем 3.5 мм / поддержка 2-х СИМ-карт / 117.7 x 49 x 12.3 мм, 82 г / черный
..</div><div class="price">
                680.00грн.                        <br>
        <span class="price-tax">Без НДС: 680.00грн.</span>
              </div><div class="cart">
        <input type="button" value="Купить" onclick="addToCart('133');" class="button">
      </div><div class="wishlist"><a onclick="addToWishList('133');">В закладки</a></div><div class="compare"><a onclick="addToCompare('133');">В сравнение</a></div></div>
        <div><div class="image"><a href="http://20k.com.ua/index.php?route=product/product&amp;path=24&amp;product_id=181"><img src="http://20k.com.ua/image/cache/data/samsung_gt-e1202_white-150x150.jpg" title="Samsung E1202  White" alt="Samsung E1202  White"></a></div><div class="name"><a href="http://20k.com.ua/index.php?route=product/product&amp;path=24&amp;product_id=181">Samsung E1202  White</a></div><div class="description">
    Экран 1.52" (128х128) / моноблок / поддержка 2-х SIM-карт / 108 x 45 x 13.6 мм, 66 г
..</div><div class="price">
                237.00грн.                        <br>
        <span class="price-tax">Без НДС: 237.00грн.</span>
              </div><div class="cart">
        <input type="button" value="Купить" onclick="addToCart('181');" class="button">
      </div><div class="wishlist"><a onclick="addToWishList('181');">В закладки</a></div><div class="compare"><a onclick="addToCompare('181');">В сравнение</a></div></div>
        <div><div class="image"><a href="http://20k.com.ua/index.php?route=product/product&amp;path=24&amp;product_id=179"><img src="http://20k.com.ua/image/cache/data/samsung-e1202-black-1-150x150.jpg" title="Samsung E1202 Black" alt="Samsung E1202 Black"></a></div><div class="name"><a href="http://20k.com.ua/index.php?route=product/product&amp;path=24&amp;product_id=179">Samsung E1202 Black</a></div><div class="description">
    &nbsp;

    Экран 1.52" (128х128) / моноблок / поддержка 2-х SIM-карт / 108 x 45 x 13.6 мм, 66 г
..</div><div class="price">
                250.00грн.                        <br>
        <span class="price-tax">Без НДС: 250.00грн.</span>
              </div><div class="cart">
        <input type="button" value="Купить" onclick="addToCart('179');" class="button">
      </div><div class="wishlist"><a onclick="addToWishList('179');">В закладки</a></div><div class="compare"><a onclick="addToCompare('179');">В сравнение</a></div></div>
        <div><div class="image"><a href="http://20k.com.ua/index.php?route=product/product&amp;path=24&amp;product_id=180"><img src="http://20k.com.ua/image/cache/data/samsung_gt-e1202_blue-150x150.jpg" title="Samsung E1202 Indigo Blue" alt="Samsung E1202 Indigo Blue"></a></div><div class="name"><a href="http://20k.com.ua/index.php?route=product/product&amp;path=24&amp;product_id=180">Samsung E1202 Indigo Blue</a></div><div class="description">
    Экран 1.52" (128х128) / моноблок / поддержка 2-х SIM-карт / 108 x 45 x 13.6 мм, 66 г
..</div><div class="price">
                250.00грн.                        <br>
        <span class="price-tax">Без НДС: 250.00грн.</span>
              </div><div class="cart">
        <input type="button" value="Купить" onclick="addToCart('180');" class="button">
      </div><div class="wishlist"><a onclick="addToWishList('180');">В закладки</a></div><div class="compare"><a onclick="addToCompare('180');">В сравнение</a></div></div>
        <div><div class="image"><a href="http://20k.com.ua/index.php?route=product/product&amp;path=24&amp;product_id=211"><img src="http://20k.com.ua/image/cache/data/4892_samsung-s5610-black-150x150.jpeg" title="Samsung S5610 Black" alt="Samsung S5610 Black"></a></div><div class="name"><a href="http://20k.com.ua/index.php?route=product/product&amp;path=24&amp;product_id=211">Samsung S5610 Black</a></div><div class="description">
    Экран 2.4" (240x320) / моноблок / камера 5 Мп / Bluetooth 3.0 / поддержка microSD / разъем 3.5 мм / 3G / 118.9 x 49.7 x 12.9 мм, 91 г
..</div><div class="price">
                855.00грн.                        <br>
        <span class="price-tax">Без НДС: 855.00грн.</span>
              </div><div class="cart">
        <input type="button" value="Купить" onclick="addToCart('211');" class="button">
      </div><div class="wishlist"><a onclick="addToWishList('211');">В закладки</a></div><div class="compare"><a onclick="addToCompare('211');">В сравнение</a></div></div>
      </div>