{% extends "base.html" %}
{% load thumbnail %}

{% block rel %}
<meta name="robots" content="noindex, nofollow, noarchive" />
{% endblock rel %}


{% block header %}
  {% include 'include/header.html' with type='checkout' %}
{% endblock %}


{% block menu %}
{% endblock %}


{% block content %}
<div class="text-center thank-order">
	<i class="fa fa-check-circle-o fa-5x"></i>
	<p class="lead">Спасибо за Ваш заказ!</p>
	<p class="lead">Наши менеджеры свяжутся с Вами в ближайшее время.</p>
	<p class="lead"><a href="/"><i class="fa fa-long-arrow-left" aria-hidden="true"></i>  Вернуться в магазин</a></p>
</div>
{% endblock %}
