{% extends "base.html" %}
{% block title %}Страница не найдена{% endblock %}


{% block bred %}

<!-- Breadcrumbs -->
<ol class="breadcrumb hidden-xs" itemscope="" itemtype="http://schema.org/WebPage">
  <li temprop="breadcrumb" itemscope="" itemtype="http://schema.org/Breadcrumb"><a href="/">Магазин электроники</a></li>

  <li class="active" temprop="breadcrumb" itemscope="" itemtype="http://schema.org/Breadcrumb">Страница не найдена</li>
</ol>
<!-- End of Breadcrumbs -->

{% endblock %}


{% block content %}

<div id="content" ><!-- breadcrumbs old place -->
  <h2 align="center">Страница не найдена</h2>
</div>

{% endblock %}