{% extends "base.html" %}
{% block title %}Ошибка на сервере{% endblock %}


{% block bred %}

<!-- Breadcrumbs -->
<ol class="breadcrumb hidden-xs" itemscope="" itemtype="http://schema.org/WebPage">
  <li temprop="breadcrumb" itemscope="" itemtype="http://schema.org/Breadcrumb"><a href="/">Магазин электроники</a></li>

  <li class="active" temprop="breadcrumb" itemscope="" itemtype="http://schema.org/Breadcrumb">Ошибка сервера</li>
</ol>
<!-- End of Breadcrumbs -->

{% endblock %}


{% block content %}

<div id="content" ><!-- breadcrumbs old place -->
  <h2 align="center">Ошибка сервера</h2>
  <p>Наша поддержка получила сообщение о этой ошибке в данный момент они все напряжонно борятся с ней.</p>
</div>

{% endblock %}